Repository dotnet/AspNetCore.Docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardrex, @Rick-Anderson, @tdykstra, @wadepickett

Revert "Update Linux dev cert trust instructions"
  aspnetcore/includes/trustCertVSC.md
  aspnetcore/security/docker-compose-https.md
  aspnetcore/security/docker-https.md
  aspnetcore/security/enforcing-ssl.md
Owners: @Rick-Anderson

Fix OpenAPI section leak into versions prior to .NET 9
  aspnetcore/fundamentals/openapi/openapi-tools.md
  aspnetcore/toc.yml
Owners: @tdykstra

Restructure and update OpenAPI doc (#33157)
  .openpublishing.redirection.json
  aspnetcore/fundamentals/minimal-apis/9.0-samples/WebMinOpenApi/projectFile.xml
  aspnetcore/fundamentals/minimal-apis/aspnetcore-openapi.md
  aspnetcore/fundamentals/minimal-apis/includes/openapi9.md
  aspnetcore/fundamentals/minimal-apis/openapi.md
  aspnetcore/fundamentals/openapi/aspnetcore-openapi.md
  aspnetcore/fundamentals/openapi/openapi-tools.md
  aspnetcore/fundamentals/openapi/overview.md
  aspnetcore/toc.yml
  aspnetcore/whats-new/dotnet-AspNetCore.Docs-mod5.md
Owners: @tdykstra, @Rick-Anderson

Create readme.txt
  aspnetcore/data/ef-rp/intro/samples/cu90/readme.txt
Owners: none

Delete aspnetcore/data/ef-rp/intro/samples/cu80 directory
  aspnetcore/data/ef-rp/intro/samples/cu80/PaginatedList.cs
  aspnetcore/data/ef-rp/intro/samples/cu80/appsettings.Development2.json
Owners: none

Create readme.txt (#33265)
  aspnetcore/data/ef-rp/intro/samples/cu80/PaginatedList.cs
  aspnetcore/data/ef-rp/intro/samples/cu80/appsettings.Development2.json
  aspnetcore/data/ef-rp/intro/samples/cu90/readme.txt
Owners: none

restructure toc.yml
  aspnetcore/fundamentals/openapi/openapi-tools.md
  aspnetcore/toc.yml
  aspnetcore/web-api/Microsoft.dotnet-openapi.md
Owners: @tdykstra, @wadepickett, @Rick-Anderson

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# *     

# .github/  

# Order is important. The last matching pattern has the most precedence.

/aspnetcore/blazor/ @guardrex
# /aspnetcore/breadcrumb/ 
# /aspnetcore/client-side/ 
# /aspnetcore/common/ 
# /aspnetcore/data/ 
/aspnetcore/diagnostics/ @Rick-Anderson
/aspnetcore/fundamentals/ @tdykstra
# /aspnetcore/getting-started/ 
/aspnetcore/grpc/ @wadepickett
/aspnetcore/host-and-deploy/ @Rick-Anderson
# /aspnetcore/includes/ 
/aspnetcore/log-mon/ @Rick-Anderson
/aspnetcore/migration/ @Rick-Anderson
# /aspnetcore/mobile/ 
# /aspnetcore/mvc/ 
# /aspnetcore/performance/ 
# /aspnetcore/razor-pages/ 
# /aspnetcore/release-notes/ 
/aspnetcore/security/ @Rick-Anderson
/aspnetcore/signalr/ @wadepickett
# /aspnetcore/test/ 
/aspnetcore/tutorials/ @wadepickett
/aspnetcore/web-api/ @wadepickett @Rick-Anderson
/aspnetcore/whats-new/ @Rick-Anderson
